button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid black;
  text-align: center;
  font-size: 36px;
  background-color: lightyellow;
}

button:active {
  opacity: 0.75;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rebeccapurple;
  padding: 24px;
}

#display {
  display: flex;
  height: 48px;
}

#bottom-half {
  display: flex;
  justify-content: center;
  align-items: center;
}

#digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bksp-img {
  width: 100%;
}
